* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 45px; /* height of your footer */
}

#footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 color: black;
}

/* #footer-content {
  background-color: black;
  opacity: 0.6;
} */

#github-link {
  color: inherit;
}
