body {
 background-image: url('../images/napali-trail.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 opacity: 0.7;
 filter: alpha(opacity=10)
 min-height: 100vh;
}

.flex-fill {
   flex: 1 1 auto;
}

 footer {
   color: white
 }

#footer-content {
  background-color: black;
  opacity: 1;
  filter: alpha(opacity=50)
}

#github-link {
  color: inherit;
}
