.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Heebo|Quicksand|Permanent+Marker')

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //////////////////////NAVBAR////////////////////// */

.nav-link:hover, .selected-tab {
  background-color: #D3D3D3;
}

.app-title {
  font-size: 30px;
  color: grey;
  font-family: 'Heebo', sans-serif;
}

.tab-title {
  color: grey;
  font-family: 'Heebo', sans-serif;
}


/* ///////////////////USER REGISTRATION/////////////////// */

.card {
height: auto;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.container {
height: 100%;
align-content: center;
}

h3.card-header {
  color: white;
  text-align: center;
}

/* LOGIN */
.login {
 background-image: url('.././images/joshua.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100vh;
}

.login-form {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

/* SIGNUP */
.signup {
 background-image: url('.././images/jomsom.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100vh;
}

/* HOME */

.home-container {
 background-image: url('.././images/napali-trail.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100vh;
}


.welcome-msg {
  float: none;
  font-size: 80px;
  font-weight: 900;
  padding-top: 80px;
  white-space: nowrap;
  letter-spacing: .1em;
  font-family: 'Permanent Marker', cursive;
  padding: 230px 240px 0 285px;
  background: #CD853F;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hiker-icon {
  font-size: 20px;
  color: green;
}


/*ABOUT */
.about {
 background-image: url('.././images/grandcanyon.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100vh;
}

.about-card {
height: auto;
margin-top: 100px;
margin-bottom: auto;
padding: 10px;
width: 800px;
background-color: rgba(0,0,0,0.5) !important;
}


/* ERROR PAGE */

.sad-face-icon {
  font-size: 90px;
  color: Dodgerblue;
}

.error-page-container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 15%;
min-height: 100vh;
}
